{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" xmlns="">
{% if messages %}
    <ul class="messages">
        {% for msg in messages %}
            <h1><p style="color:#FF0000">{{ msg }}</p></h1>
        {% endfor %}
    </ul>
{% endif %}
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{%url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}